.DS_Store
npm-debug.log
node_modules
examples/cpp/*.zip
examples/cpp/*.sha1
templates/cpp/*.zip
templates/cpp/*.sha1
examples/java/*.zip
examples/java/*.sha1
templates/java/*.zip
templates/java/*.sha1
templates/*.zip
.jshintrc
